
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
  }

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p,img, 
strong, b, form, aside, header, 
nav, output, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align:auto;
}

body{
	line-height: 1;
	display: flex;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
  	background: #262626;
}
 ul {
	list-style: none;
}

/* Basic */

	html {
		box-sizing: border-box;
		overflow-x: hidden;
		
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #ffffff;
		overflow-x: hidden;
		background-color: #ffffff;
		color: #000000;
	}

	h1 {
		font-family:'Courier New', Courier, monospace;
		font-size: 50px;
		font-weight: 700;
		letter-spacing: -2px;
		line-height: 1;
		margin: 0 8rem 2rem 0;
		text-transform: uppercase;
	}

	h2 {
		font-family: 'Courier New', Courier, monospace;
		font-size: 30px;
		font-weight: 600;
		letter-spacing: -1px;
		margin: 0 0 2rem 0;
		text-transform: uppercase;
		word-spacing: -8px;
	}
	p {
		font-family:'Courier New', Courier, monospace;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: -0.5px;
		text-transform: uppercase;
		text-align-last: left;
		display: block;
	
	}
	b {
		font-family:'Courier New', Courier, monospace;
		font-size: 18px;
		font-weight: 800;
		letter-spacing: -2px;
		word-spacing: -5px;
		line-height: 2;
		margin: 0 0 2rem 0;
		text-transform: uppercase;
		text-align-last: right;
	}
	strong{
		font-family:'Courier New', Courier, monospace;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -1px;
		line-height: 1.2;
		margin: 0 0 2rem 0;
		text-transform: uppercase;
		text-align-last: left;
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		appearance: none;
		background-color: transparent;
		border-radius: 0.325rem;
		border: 0;
		box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
		color: #000000 !important;
		cursor: pointer;
		display: inline-block;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.6rem;
		font-weight: 600;
		height: 3rem;
		letter-spacing: 0.175em;
		line-height: 3rem;
		padding: 0 2rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			box-shadow: inset 0 0 0 2px #2ee4bb;
			color: #2ee4bb !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(73, 252, 212, 0.25);
			box-shadow: inset 0 0 0 2px #2ee4bb;
			color: #2ee4bb !important;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.5rem;
			height: 2.25rem;
			line-height: 2.25rem;
			padding: 0 1.25rem;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 0.7rem;
			height: 3.2625rem;
			line-height: 3.2625rem;
			padding: 0 3.25rem;
		}

		input[type="submit"].disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: #49fcd4;
			box-shadow: none;
			color: #000000 !important;
		}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background-color: #93ffe7;
			}

			input[type="submit"].primary:active,
			input[type="reset"].primary:active,
			input[type="button"].primary:active,
			button.primary:active,
			.button.primary:active {
				background-color: #44f2cb;
			}

/* Form */

	form {
		margin: 0 0 2rem 0;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-wrap: wrap;
			margin: -2rem 0 2rem -2rem;
			width: calc(100% + 4rem);
		}

			form > .fields > .field {
				flex-grow: 0;
				flex-shrink: 0;
				padding: 2rem 0 0 2rem;
				width: calc(100% - 2rem);
			}

				form > .fields > .field > :last-child {
					margin-bottom: 0;
				}

				form > .fields > .field.half {
					width: calc(50% - 1rem);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.66667rem);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.5rem);
				}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		appearance: none;
		border-radius: 0.325rem;
		border: solid 2px rgba(144, 144, 144, 0.25);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		input[type="search"]:invalid,
		input[type="url"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="search"]:focus,
		input[type="url"]:focus,
		select:focus,
		textarea:focus {
			border-color: #2ee4bb;
		}

	label {
		color: #000000;
		display: block;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.75rem;
		font-weight: 600;
		letter-spacing: 0.175em;
		line-height: 1.75;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"] {
		height: 3rem;
	}

	select {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(144, 144, 144, 0.25)' /%3E%3C/svg%3E");
		background-position: calc(100% - 1rem) center;
		background-repeat: no-repeat;
		background-size: 1.25rem;
		height: 3rem;
		padding-right: 3rem;
		text-overflow: ellipsis;
	}

		select option {
			background-color: #ffffff;
			color: #000000;
		}

		select:focus::-ms-value {
			background-color: transparent;
		}

		select::-ms-expand {
			display: none;
		}

	textarea {
		padding: 0.75rem 1rem;
	}

/* Image */

	.image {
		border: 0;
		display: flex;
		position: relative;
	}

	.image.main {
		display: flex;
		margin: 0;
		max-width: 100%;
	}

		.image.main img {
			max-width: 100%;
		}

/* Arrow */

	a.arrow {
		border-bottom: 0;
		display: inline-block;
		height: 4rem;
		position: relative;
		width: 6rem;
	}

		a.arrow .label {
			display: none;
		}

		a.arrow:before {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 512 512'%3E%3Cpath d='M442.53,346.28L293.65,495.16c-0.33,0.33-0.7,0.62-1.05,0.94c-9.16,9.77-22.15,15.9-36.6,15.9 c-14.44,0-27.43-6.13-36.59-15.88c-0.35-0.33-0.72-0.62-1.06-0.96L69.47,346.28c-19.62-19.62-19.62-51.44,0-71.05 c19.62-19.62,51.43-19.62,71.06,0l65.23,65.23V50.24C205.76,22.5,228.25,0,256,0s50.24,22.5,50.24,50.24v290.21l65.23-65.23 c19.62-19.62,51.43-19.62,71.05,0C462.15,294.84,462.15,326.66,442.53,346.28z' fill='%23000000' /%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: inline-block;
			height: 100%;
			position: relative;
			width: 3rem;
		}


/* Feature Icons */

	ul.feature-icons {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 3rem 0;
		padding-left: 0;
	}

		ul.feature-icons:first-child {
			margin-top: 0;
		}

		ul.feature-icons li {
			margin: 2.5rem 0 0 0;
			padding: 0.5rem 0 0 4.5rem;
			position: relative;
			width: 50%;
		}

			ul.feature-icons li:before {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 512 512'%3E%3Cpath d='M256,0l221.7,128v256L256,512L34.3,384V128L256,0z' fill='rgba(144, 144, 144, 0.1)' /%3E%3C/svg%3E");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				color: #000000;
				display: block;
				font-size: 1.25rem;
				height: 3.25rem;
				left: 0;
				line-height: 3.25rem;
				position: absolute;
				text-align: center;
				top: 0;
				width: 3.25rem;
			}

			ul.feature-icons li:nth-child(1), ul.feature-icons li:nth-child(2) {
				margin-top: 0;
			}

/* Wrapper */

	#wrapper {
		position: relative;
		width: 100vw;
		padding: 0 0 10rem 0;
	}

		#wrapper:before {
			background-attachment: fixed;
			background-color: #6e7070;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 920 1750' x='0px' y='0px'%3E %3Cpath style='fill: rgba(67, 217, 184, 0.25)' d='M889.72,1137.55l-2.91-0.75l-364.39,282.94l-0.7-0.9l-0.51,0.11l-94.77-451.5l-32.51-15.75l-16.73-8.11l0,0.68 l-1.46,0l0-1.39l-1.89-0.92l-112.41-54.47l-0.29,1.03l-1.41-0.37l0.37-1.31l-34.14-16.54l-98.56-47.76l-0.59,0.81l-1.16-0.88 l0.42-0.57L11.43,766.33l-0.25,0.2l-0.9-1.15l102.87-79.98l0.08-0.1l0.02,0.02l116.68-90.72l-0.18-0.34l1.3-0.66l0.05,0.09 l100.5-78.14l-0.07-0.32l0.65-0.14l42.3-32.89l-0.15-54.54l-0.59,0.29l-0.64-1.31l1.23-0.6l-0.01-4.54l-0.33-122.47l-0.99,0.18 l-0.28-1.43l1.27-0.23l-0.4-147.49l-0.87-0.16l0.28-1.43l0.58,0.1l-0.35-127.48l-0.13-0.06l0.64-1.31L489.97,76.8l0.73,0.19 l-0.04,0.14l132.63,65.11l0.33-0.45l1.16,0.88l-0.16,0.22l114.21,56.07l0.45-0.35l0.72,0.93l47.89,23.51l2.76-1.36l0.56,4.61 l-3.32-1.63L571.52,330.88L375.95,482.93l0.66,239.95l51.12,243.57l222.53,107.83l236.23,60.93l2.27-1.77 M375.8,425.34l17.25-8.47 l36.13-127.75l-53.73,9.66L375.8,425.34z M551,241.05l38.19-52.2l-123.83-22.27l-34.13,120.68l98.99-17.81L551,241.05z M532.3,269.09l151.34-27.22l37.63-29.25l-130.48-23.47L532.3,269.09z M303.38,733.9l-2.36-4.48l-44.18-83.78L182.5,747.25 l40.78,36.46l52.69,47.11L303.38,733.9z M277.18,831.91l56.95,50.93L375.69,920l-0.13-49.23l-71.19-135L277.18,831.91z M303.96,731.86l41.93-148.25l-9.74-46.39L257.8,644.33L303.96,731.86z M304.94,733.73l9.55,18.12l61.05,115.78l-0.39-144.6 l-16.9-80.53l-11.71-55.81L304.94,733.73z M375.21,211.79l0.23,85.51l54.17-9.74l34.29-121.23l-88.87-15.98L375.21,211.79z M430.78,288.83l-17.88,63.21L394.81,416l44.01-21.6l90.15-123.23L430.78,288.83z M287.76,898.62l87.99,42.64l-0.05-19.29 l-91.37-81.71l-7.59-6.78l-14.88,52.59L287.76,898.62z M174.26,843.62l86.26,41.8l15-53.03l-93.89-83.95l-53.34,72.91L174.26,843.62 z M113.18,687.22L12.71,765.33l55.69,26.99l58.56,28.38l53.58-73.24l-34.83-31.14L113.18,687.22z M230.62,595.92l-116.27,90.4 l63.02,56.36l4.03,3.61l74.67-102.08l-7.47-14.17L230.62,595.92z M331.94,517.15l-100.15,77.86l25.25,47.88l78.71-107.59l-1.71-8.14 L331.94,517.15z M333.22,516.15l2.02,9.64l1.66,7.92l34.65-47.37L333.22,516.15z M337.31,535.63l9.43,44.95l26.67-94.3 L337.31,535.63z M347.39,583.66l27.74,132.16l-0.62-228.04L347.39,583.66z M374.7,21.83l0.35,127.02l89.27,16.06l24.61-87 L374.7,21.83z M490.25,78.56l-22.26,78.7l-2.24,7.91l124.39,22.37l10.23-13.99l22.04-30.12L490.25,78.56z M623.74,144.09 l-12.29,16.8l-19.71,26.95l131.07,23.58l14.73-11.45L623.74,144.09z M739,200.67l-13.3,10.34l-0.96,0.74l58.14,10.46L739,200.67z M723.19,212.96l-25.33,19.69l-11.14,8.66l97.03-17.45L723.19,212.96z M782.89,225.5l-98.64,17.74l-107.06,83.23L782.89,225.5z M631.68,282.26l49.48-38.47l-150.1,27l-89.41,122.22l129.1-63.37L631.68,282.26z M565.06,334.05l-125.28,61.5l-45.94,62.8 l-14.96,20.44L565.06,334.05z M425.31,412.87l11.65-15.93l-42.69,20.96l-13.66,48.3l-3.58,12.67L425.31,412.87z M392.51,418.76 l-16.71,8.2l0.01,4.72l0.12,45.68L392.51,418.76z M377.21,941.96l21.37,10.36l24.14,11.7l-45.56-40.74L377.21,941.96z M377.15,921.31l34.83,31.15l12.57,11.24l-47.53-90.14L377.15,921.31z M376.63,730.07l0.38,140.33l48.29,91.59L376.63,730.07z M806.29,1197.48l75.8-58.86l-28.56,11.47l-25.6,10.28l14.96,7.25l-0.64,1.31l-16.16-7.83l-124.76,50.1l40.56,36.27L806.29,1197.48z M522.43,1146.18l58.88,111.66l52.71-21.17l64.61-25.95l-75.11-67.17L522.43,1146.18z M621.92,1142.14l-115.78-103.53l-46.8-12.07 l62.33,118.2l7.06-0.18L621.92,1142.14z M700.14,1210.12l124.19-49.87l-42.89-20.78l-155.8,4.04L700.14,1210.12z M679.7,1295.77 l61.03-47.39l-40.9-36.57l-117.85,47.32l42.09,79.82L679.7,1295.77z M522.48,1417.85l1.83-1.42l98.6-76.56l-42.28-80.19 l-84.25,33.83L522.48,1417.85z M496.08,1292.06l83.87-33.68l-59.14-112.16l-55.04,1.43L496.08,1292.06z M465.46,1146.2l54.58-1.42 l-62.61-118.74l-18.03-4.65l0.36-1.41l16.74,4.32l-27.63-52.4L465.46,1146.2z M458.42,1024.79l45.35,11.7l-74.14-66.29 L458.42,1024.79z M431.46,969.87l75.38,67.41l136.26,35.15L431.46,969.87z M649.76,1075.65l-140.54-36.25l114.83,102.68l154.53-4.01 L649.76,1075.65z M656.92,1077.5l124.84,60.5l51.97-1.35l47.7-1.24L656.92,1077.5z M784.62,1139.38l41.54,20.13l56.45-22.67 L784.62,1139.38z'/%3E %3C/svg%3E");

			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 35vw;
			z-index: -1;
		}

		#wrapper section {
			display: grid;
			grid-template-areas: "header content" "footer content";
			grid-template-columns: 50vw 50vw;
			grid-template-rows: 1fr;
		}

			#wrapper section:first-child {
				margin-top: 0;
			}

			#wrapper section > header {
				grid-area: header;
				justify-self: end;
				text-align: left;
			}

				#wrapper section > header h2 {
					margin: 0 0 7rem 0;
				}

				#wrapper section > header h1 + p {
					font-family:'Courier New', Courier, monospace;
					font-size: 0.8rem;
					letter-spacing: 0.175em;
					line-height: 2.5;
					text-transform: uppercase;
				}

				#wrapper section > header ul.actions {
					justify-content: flex-start;
				}

			#wrapper section > .content {
				grid-area: content;
				max-width: 60rem;
				position: relative;
			}

			#wrapper section > footer {
				grid-area: footer;
				text-align: left;
			}

				#wrapper section > footer ul.actions {
					justify-content: flex-end;
				}

		#wrapper > section {
			position: relative;
		}

			#wrapper > section > header:before {
				background: #43d9b8;
				content: '';
				display: block;
				margin-top: -7rem;
				position: absolute;
				width: 2px;
			}

			#wrapper > section > header h1, #wrapper > section > header h2 {
				position: relative;
			}

				#wrapper > section > header h1:before, #wrapper > section > header h2:before {
					background: #43d9b8;
					content: '';
					display: block;
					height: 2px;
					position: absolute;
					top: 1rem;
				}

				#wrapper > section > header h1:after, #wrapper > section > header h2:after {
					background: #43d9b8;
					border-radius: 0.5rem;
					content: '';
					display: flex;
					height: 0.5rem;
					position: absolute;
					top: 0.8rem;
					width: 0.5rem;
					right: 16.5rem;
				}

			#wrapper > section > header h1 {
				margin-top: -2rem;
			}

				#wrapper > section > header h1:before {
					top: 7rem;
				}

				#wrapper > section > header h1:after {
					top: 6.75rem;
				}

			#wrapper > section > .content > section {
				position: relative;
			}

				#wrapper > section > .content > section:first-child {
					margin-top: 6rem;
				}

			#wrapper > section.intro {
				align-items: left;
			}

				#wrapper > section.intro > header {
					padding-top: 4rem;
					width: 100%;
				}

					#wrapper > section.intro > header > * {
						margin-left: auto;
					}

					#wrapper > section.intro > header:before {
						left: auto;
					}

				#wrapper > section.intro > .content {
					height: 100vh;
					width: %100;
				}

			#wrapper > section:last-of-type > header:before {
				height: 100%;
			}

			#wrapper > section:last-of-type > header:after {
				background: #43d9b8;
				border-radius: 0.5rem;
				bottom: 6.5rem;
				content: '';
				display: block;
				height: 0.5rem;
				position: absolute;
				width: 0.5rem;
				z-index: 1;
			}

		#wrapper section {
			margin: 5.5rem 0 0 0;
		}

			#wrapper section > header {
				padding: 0 10rem 0 9rem;
				width: 49rem;
			}

			#wrapper section > .content {
				padding: 0 5rem;
			}

			#wrapper section > footer {
				padding: 0 10rem;
			}

		#wrapper > section > header:before {
			height: calc(100% + 10rem);
			left: calc(34.5vw - 5rem);
		}

		#wrapper > section > header h1:before, #wrapper > section > header h2:before {
			right: 8.8rem;
			width: 8rem;
		}

		#wrapper > section > .content > section {
			left: calc(-30vw - 5rem);
		}

			#wrapper > section > .content > section > header {
				width: 32rem;
			}

		#wrapper > section.intro > header > * {
			width: 26rem;
		}

		#wrapper > section.intro > header:before {
			margin-left: calc(30vw - 10rem);
		}

		
		#wrapper > section:last-of-type > header:after {
			left: calc(34.5vw - 5rem - 0.25rem + 1px);
		}
		
	#wrapper > section.intro {
		transition: opacity 1s ease;
		opacity: 1;
	}
	
	body.is-ie #wrapper section {
		display: flex;
		flex-wrap: wrap;
	}

		body.is-ie #wrapper section > header {
			width: 50%;
		}

		body.is-ie #wrapper section > .content {
			width: 50%;
		}

		body.is-ie #wrapper section > footer {
			width: 50%;
			text-align: left;
			margin-left: 50%;
			padding: 5rem;
		}

	body.is-ie #wrapper > section > .content > section {
		width: 100vw;
	}

	  ul{
		display: flex;
	  }
	  ul li{
		position: relative;
		display: block;
		color: #666;
		font-size: 30px;
		height: 60px;
		width: 60px;
		background: #171515;
		line-height: 60px;
		border-radius: 50%;
		margin: 0 15px;
		cursor: pointer;
		transition: .5s;
	  }
	  ul li:before{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: inherit;
		width: inherit;
		border-radius: 50%;
		transform: scale(.9);
		z-index: -1;
		transition: .5s;
	  }
	  ul li:nth-child(1):before{
		background: #4267B2;
	  }
	  ul li:nth-child(2):before{
		background: #1DA1F2;
	  }
	  ul li:nth-child(3):before{
		background: #E1306C;
	  }
	  ul li:nth-child(4):before{
		background: #2867B2;
	  }
	  ul li:nth-child(5):before{
		background: #ff0000;
	  }
	  ul li:hover:before{
		filter: blur(3px);
		transform: scale(1.2);
	  }
	  ul li:nth-child(1):hover:before{
		box-shadow: 0 0 15px #4267B2;
	  }
	  ul li:nth-child(2):hover:before{
		box-shadow: 0 0 15px #1DA1F2;
	  }
	  ul li:nth-child(3):hover:before{
		box-shadow: 0 0 15px #E1306C;
	  }
	  ul li:nth-child(4):hover:before{
		box-shadow: 0 0 15px #2867B2;
	  }
	  ul li:nth-child(5):hover:before{
		box-shadow: 0 0 15px #ff0000;
	  }
	  ul li:nth-child(1):hover{
		color: #456cba;
		box-shadow: 0 0 15px #4267B2;
		text-shadow: 0 0 15px #4267B2;
	  }
	  ul li:nth-child(2):hover{
		color: #26a4f2;
		box-shadow: 0 0 15px #1DA1F2;
		text-shadow: 0 0 15px #1DA1F2;
	  }
	  ul li:nth-child(3):hover{
		color: #e23670;
		box-shadow: 0 0 15px #E1306C;
		text-shadow: 0 0 15px #E1306C;
	  }
	  ul li:nth-child(4):hover{
		color: #2a6cbb;
		box-shadow: 0 0 15px #2867B2;
		text-shadow: 0 0 15px #2867B2;
	  }
	  ul li:nth-child(5):hover{
		color: #ff1a1a;
		box-shadow: 0 0 15px #ff0000;
		text-shadow: 0 0 15px #ff0000;
	  }