* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comforter&family=DM+Serif+Display:ital@1&family=Oswald:wght@300&display=swap');
font {
    font-family: 'Anton', sans-serif;
    font-family: 'Comforter', cursive;
    font-family: 'DM Serif Display', serif;
    font-family: 'Oswald', sans-serif;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    line-height: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #262626;
    overflow-x: hidden;
    background-color: #ffffff;
}

h1 {
    font-family: "serif";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    font-family: "serif";
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    margin-left: 10px;
}

h3 {
    font-family: "serif";
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    word-spacing: 2px;
}

h6 {
    font-family: "serif";
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
}

p {
    font-family: serif;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
    display: block;
}


/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    appearance: none;
    background-color: transparent;
    border-radius: 10px;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #000000 !important;
    cursor: pointer;
    display: inline-block;
    font-family: "serif";
    font-size: 12px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 1px;
    padding: 0 50px;
    padding-left: -30px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 500px;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    background-color: #73736f;
    box-shadow: none;
    color: #000000 !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    background-color: #73736f5d;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
    background-color: #73736f;
}


/* Form */

form {
    font-family: "serif";
    font-size: 12px;
    letter-spacing: 10px;
}

form>.fields {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + -7rem);
    margin: 70px;
}

form>.fields>.field {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% - 2rem);
    margin: 10px;
}

form>.fields>.field> :last-child {
    font-size: 15px;
    font-family: "serif";
    letter-spacing: 2px;
    font-weight: 800;
    padding: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    appearance: none;
    border-radius: 0.325rem;
    border: solid 2px rgba(144, 144, 144, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: #73736f;
}


/* Image */

span.img {
    width: 100%;
    justify-content: left;
    margin-right: -20px;
    margin-bottom: -200px;
}


/* ICON */

.social-links {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.social-links a {
    width: 40px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #f7f5f1;
    border-radius: 45%;
    border: 5px solid hsl(300, 20%, 90%);
    box-shadow: 8px 8px 12px -2px rgb(110, 112, 114), -5px -5px 9px -2px rgb(173, 177, 177);
    transition: transform 1s;
}

a i {
    font-size: 25px;
    text-align: center;
    color: rgb(77, 113, 119);
    transition: transform 1s;
}

a:hover {
    box-shadow: inset 6px 6px 8px -2px white, inset -6px -6px 8px -2px rgb(193, 211, 214), 0px 12px 10px -10px rgb(124, 146, 143);
    border: 2px solid rgba(194, 171, 194, 0.3);
    transform: translateY(3px);
}

a:hover i {
    transform: scale(0.85);
}

a:hover .fa-instagram {
    color: #e4405f;
}

a:hover .fa-google {
    color: #cd201f;
}

a:hover .fa-facebook-f {
    color: #21759b;
}

a:hover .fa-linkedin-in {
    color: #0077b5;
}

a:hover .fa-github {
    color: #8c1392;
}


/* NAVBAR */

.nav {
    width: 100%;
    text-align: center;
    background: #f5ece2;
    left: 0;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, .2);
}

.nav-primary {
    width: 100%;
    text-align: center;
    left: 0;
}

.top-nav {
    position: fixed;
    top: 0;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
}

genesis-nav-menu a {
    border: none;
    color: rgb(115, 115, 111);
    display: block;
    padding: 13.5px 17.5px;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px;
}

.nav ul li .nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.nav ul li .nav-link:hover {
    background: rgba(51, 51, 51, 0.418);
    color: #efefef
}

.container {
    width: 70%;
    margin: 50px auto;
    padding: 10px;
}

.container .box {
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
    font-family: "serif";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    margin-top: 50px;
}